@model MyAccountViewModel
@{
    ViewData["Title"] = "My Account";
}

<section class="my-account">
    <div class="container">
        @if(Model.ImageUrl != null)
        {
            <img class="profile-image" src="~/images/profileimages/@Model.ImageUrl" />
        }
        <p>@Model.FirstName</p>
        <p>@Model.LastName</p>
    </div>
</section>