@model ContactFormViewModel

<section class="contact-form">
    <div class="container">
        <div class="title">Write something</div>

        <form method="post" novalidate>
            <div class="name form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" type="text" onkeyup="validateText(event)" required>
                <span asp-validation-for="Name" class="error"></span>
            </div>
            <div class="email form-group">
                <label asp-for="Email" for="email"></label>
                <input asp-for="Email" type="text" onkeyup="validateEmail(event)" />
                <small class="text-danger"><span asp-validation-for="Email"></span></small>
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="PhoneNumber" for="phone">Phone Number (optional)</label>
                <input asp-for="PhoneNumber" id="phone" type="text">
            </div>
            <div class="companyName form-group">
                <label asp-for="Company" for="company">Company (optional)</label>
                <input asp-for="Company" id="company" type="text">
            </div>
            <div class="message form-group">
                <label asp-for="Message" for="message">Message*</label>
                <textarea asp-for="Message" onkeyup="validateText(event)" ></textarea>
                <span asp-validation-for="Message" class="error"></span>
            </div>
            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="SaveInfo"></label>
                    <input asp-for="SaveInfo" type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <button type="submit" class="btn-theme">Submit</button>
        </form>
    </div>
</section>