
    <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="" class="grid-item">
        <img src="" alt="Product Image">
        <div class="body">
            <div class="title"></div>
            <div class="info">
                <div class="price">$</div>
                <i class="add-cart fa-regular fa-cart-plus"></i>
            </div>
        </div>
    </a>






