<section class="grid-collection">
    <div class="container">
        <h1 class="collection-title">Best Collection</h1>
        <ul class="categories">
            <li class="category-item">All</li>
            <li class="category-item">Bag</li>
            <li class="category-item">Dress</li>
            <li class="category-item">Decoration</li>
            <li class="category-item">Essentials</li>
            <li class="category-item">Interior</li>
            <li class="category-item">Laptop</li>
            <li class="category-item">Mobile</li>
            <li class="category-item">Beaty</li>
        </ul>
        <div class="grid">
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
        </div>
        <partial name="/Views/Partials/Buttons/_Load-more-button.cshtml" />
    </div>
</section>