@model ProductDetailViewModel

<section class="product-details">
    <div class="container">
        
        <div class="product-detail-image-grid">
            @foreach(var image in Model.Images)
            {
                <img class="small-product-image" src="~/images/products/@image.ImageUrl" />
            }

        </div>
        
        <div class="product-detail-info">
            <h1 class="product-detail-header">@Model.Title</h1>
            <p class="procuct-detail-description">Lirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <div class="product-detail-rating">
                <div class="rating-stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <p class="rating-reviews">@Model.Reviews.Count Reviews</p>
            </div>
            <p class="product-detail-price">@Model.Price KR</p>
            <div class="add-to-cart">
                <div class="product-detail-count">
                    <button class="subtract">-</button>
                    <p>2</p>
                    <button class="add">+</button>
                </div>
                <button class="add-to-cart-btn">Add To Cart <i class="fa-regular fa-cart-plus"></i></button>
            </div>
            <div class="product-stock">
                <div class="stock">
                    <div class="out-of-stock"></div>
                    <div class="incoming-delivery"></div>
                    <div class="in-stock"></div>
                </div>
                <p class="sku">SKU: N/A</p>
            </div>
            <button class="wishlist-btn">Add to wishlist</button>
            <div class="product-category">
                <p class="category">Category: </p>
                @foreach(var category in Model.Categories)
                {
                    @if(category != null)
                    {
                        <p class="category-tags me-2">@category.Category.CategoryName</p>
                    }
                }
                
            </div>
        </div>
    </div>
</section>