@model ProductDetailImageGridViewModel

<div class="product-detail-image-grid">
    <img class="product-image-1" src="~/@Model.ProductImageUrl" />
    <img class="small-product-image" src="~/@Model.ProductImageUrl" />
    <img class="small-product-image" src="~/@Model.ProductImageUrl" />
    <img class="small-product-image" src="~/@Model.ProductImageUrl" />
    <img class="small-product-image" src="~/@Model.ProductImageUrl" />
</div>