@model ProductDetailInfoViewModel

@if(Model != null)
{
    <section class="product-info">
        <div class="container">
            <div class="product-info-grid">
                <a class="product-info-tab">DESCRIPTION</a>
                <a class="product-info-tab">ADDITIONAL INFO</a>
                <a class="product-info-tab">REVIEWS(0)</a>
                <a class="product-info-tab">SHIPPING & DELIVERY</a>
            </div>
        </div>
    </section>

    <section class="product-info-content">
        <div class="container">
            <h2 class="description-header">Description for @Model.Title</h2>
            <div class="description">
                <div class="description-text">
                    <p class="description-paragraph">@Model.Description</p>
                </div>
                @foreach (var image in Model.Images.Take(1))
                {
                    @if (image != null)
                    {
                        <img class="description-image" src="~/images/products/@image.ImageUrl" alt="product-image" />
                    }

                }
            </div>
        </div>
    </section>
}

