<section class="product-grid">
    <div class="container">
        <h2 class="grid-header">Related Products</h2>
        <div class="grid-content">
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
        </div>
    </div>
</section>