<section class="top-selling-grid">
    <div class="container-fluid">
        <h1 class="grid-title">Top selling products in this week</h1>
        <div class="grid">
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
            <partial name="/Views/Partials/_Grid-item.cshtml" />
        </div>
        <div class="load-more">
            <button class="btn-outline-white me-1"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="btn-outline-white ms-1"><i class="fa-solid fa-chevron-right"></i></button>
        </div>
    </div>
</section>