<section class="up-to-sell-grid">
    <div class="container">
        <div class="grid">
            <div class="item-1">
                <partial name="/Views/Partials/_Grid-item.cshtml" />
            </div>
            <div class="discover">
                <div class="grid-content">
                    <div class="container">
                        <div class="title-red">UP TO SELL</div>
                        <div class="title">50% OFF</div>
                        <div class="ingress">Get the Best Price</div>
                        <div class="text">Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren no sea taki</div>
                        <a href="#" class="link">Discover More</a>
                    </div>
                </div>
            </div>
            <div class="item-2">
                <partial name="/Views/Partials/_Grid-item.cshtml" />
            </div>
        </div>
    </div>
</section>