@model CreateProductViewModel

@{
    var categories = await categoryService.GetAllCategoriesAsync();
}

<section class="create-product-section">
    <div class="container">
        <div class="create-product">
            <form method="post" enctype="multipart/form-data" class="create-product-form">
                <div class="mb-4">
                    <label class="form-label" asp-for="Title"></label>
                    <input class="form-control" asp-for="Title"/>
                    <small class="text-danger"><span asp-validation-for="Title"></span></small>
                </div>
                <div class="mb-4">
                    <label class="form-label" asp-for="Price"></label>
                    <input class="form-control" asp-for="Price" />
                    <small class="text-danger"><span asp-validation-for="Price"></span></small>
                </div>
                <div class="mb-4">
                    <label class="form-label" asp-for="Description"></label>
                    <input class="form-control" asp-for="Description" />
                </div>
                <div class="mb-4">
                    <div class="mb-3">
                        <label class="form-label" asp-for="Categories"></label>
                        <select id="select-option" asp-for="Categories" multiple class="me-4">
                            @foreach (var category in categories)
                            {
                                <option  value="@category.Id">@category.CategoryName</option>
                            }

                        </select>
                    </div>

                    <div id="selected-categories">
                        
                    </div>
                </div>
                <div class="mb-4">
                    <label class="form-label" asp-for="Images"></label>
                    <input class="form-control mb-3" asp-for="Images" multiple />
                </div>
                <button class="create-product-btn" type="submit">CREATE PRODUCT</button>
            </form>
        </div>
    </div>
</section>
