<partial name="/Views/Partials/_Product-image-banner.cshtml" />
<partial name="/Views/Partials/_Product-detail.cshtml" />
<partial name="/Views/Partials/_Product-info.cshtml" />
<partial name="/Views/Partials/_Product-detail-product-grid.cshtml" />

<section class="bottom-images">
    <div class="container">
        <img class="bottom-image" src="~/images/200x122.svg"/>
        <img class="bottom-image" src="~/images/200x122.svg" />
        <img class="bottom-image" src="~/images/200x122.svg" />
        <img class="bottom-image" src="~/images/200x122.svg" />
        <img class="bottom-image" src="~/images/200x122.svg"/>
    </div>
</section>