
@{
    var users = await userService.GetAllUsers();
}

<section class="admin-controls">
    <div class="container">
        <div class="user-list">
            <div class="create-btn">
                <a  asp-controller="User" asp-action="createuser">Create User</a>
            </div>
            <div class="list">
                @foreach(var user in users)
                {
                    <div class="list-item">
                        <div>
                            <label class="list-item-label me-1">Name: </label>
                            <p class="me-2">@user.FirstName</p>
                            <p>@user.LastName</p>
                        </div>
                        <div class="list-item-email">
                            <label class="list-item-label me-1">Email:</label>
                            <p>@user.Email</p>
                        </div>
                        @foreach(var role in user.Roles)
                        {
                            <div>
                                <label class="list-item-label me-1">Role:</label>
                                <p>@role</p>
                            </div>
                        }

                        <div class="list-item-icons">
                            <button><i class="fa-solid fa-pencil"></i></button>
                            <button><i class="fa-solid fa-trash-can ms-3"></i></button>
                        </div>
                    </div>

                    


                }
            </div>
        </div>
        <div class="product-list">
            <div class="create-btn">
                <a  asp-controller="Product" asp-action="CreateProduct">Create Product</a>
            </div>
            <div class="list">
                <p></p>
            </div>
        </div>
    </div>
</section>