
<section class="admin-controls">
    <div class="container">
        <div class="user-list">
            <div class="create-btn">
                <a  asp-controller="User" asp-action="createuser">Create User</a>
            </div>
            <div class="list">
                <p> HEJ PÅ DIG</p>
            </div>
        </div>
        <div class="product-list">
            <div class="create-btn">
                <a  asp-controller="Product" asp-action="CreateProduct">Create Product</a>
            </div>
            <div class="list">
                <p>HEJ PÅ DIG</p>
            </div>
        </div>
    </div>
</section>