footer {
    font-family: $font-poppins;
    padding: 30px;
    background-color: $color-dark-2;
    color: $color-dark-4;
    margin-top: auto;
    margin-bottom: 70px;

    @include lg {
        margin-bottom: 0px;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}