.my-account {
    padding-top: 100px;

    > .container {

        .user-information {
            display: flex;
            align-items: center;

            .profile-image {
                border-radius: 50%;
                width: 200px;
                height: 230px;
            }
        }
    }
}
